
.push-down-3 {
    margin-top: 3rem !important;
  }

/* Intro area, index.html page ------------------------------------------------- */
#intro {
    font-size: 0.9rem !important;
  }

.pic-intro{
    font-size: 0.9rem !important;
    margin-bottom: -50px;
}

/* Contact info area, index.html page ------------------------------------------------- */
#title {
    color: #20364c;
    margin-top: 2rem;
    font-weight: 700;
    /* font-size: 1.4rem; */
    text-align: center;
  }
  
  #program {
    color: gray;
    font-weight: 800;
    text-align: center;
  }
  
  iframe {
    padding: 3px;
    border: 1px solid lightgray;
  }


   /* Publications area -------------------------------------------------------------------- */
   #publications {
    list-style-type: none;
    padding-left: 0;
  }
  
  #publications li {
    margin-bottom: 1rem;
    font-size: 0.9rem !important;
  }
  


  /* Degree area -------------------------------------------------------------------- */
  #education {
    list-style-type: none;
    padding-left: 0;
  }
  
  #education li {
    margin-bottom: 1rem;
    font-size: 0.9rem !important;
  }
  
  .university {
    color: gray;
  }


/* h3 {
    margin: 0 0 2rem !important;
    color: slategray;
} */

.h3, h3 {
    font-size: 1.4rem;
    font-weight: 500;
    /* color: rgb(210, 105, 30) !important; */
}

h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 2px solid slategray;
    z-index: -1;
}

/* Setting Lines after headers */
h3 {
    position: relative;
    
}
  
h3 span {
    background-color: white;
    padding-right: 10px;
}

h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 2px solid slategray;
    z-index: -1;
}


